niri-git
neovim
npm
zen-browser-bin
fish
starship

fuzzel

xwayland-satellite

noto-fonts
noto-fonts-cjk
noto-fonts-emoji
noto-fonts-extra
noto-fonts-sc
noto-fonts-tc

tree

brightnessctl

python
matugen-bin
swaync
python-gobject
kitty
proton-vpn-gtk-app
gtk-layer-shell
swaylock

cliphist
wl-clipboard

swww


rustup
dunst
alsa-utils
zellij
ttf-jetbrains-mono-nerd
typescript-language-server
prettier
btop
quickshell-git
